terratowns_endpoint="https://terratowns.cloud/api"
Highlander = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/Highlander"
  content_version = 2
}
king = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/king"
  content_version = 1
}